Repository thierrymichel/esbuild-plugin-unprefix-core-modules: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint

test: :white_check_mark: add basic tests
  .yarn/cache/esbuild-darwin-64-npm-0.13.12-64304f2d1f-8.zip
  .yarn/cache/esbuild-npm-0.13.12-880493dfe5-7ef4ef3e8e.zip
  __tests__/files/import.js
  __tests__/files/legacy.js
  __tests__/files/require.js
  __tests__/index.js
  index.js
  package.json
  yarn.lock
Due: prettier --write, yarn lint

ci: :green_heart: use main branch
  .github/workflows/codeql-analysis.yml
  .github/workflows/release.yml
Due: none

ci: :bug: replace master occurences with main
  README.md
  release.config.js
Due: prettier --write, yarn lint

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  db16bfa3789fe874ab8676bef8f692913a81e1a6
Due: none

test: :wrench: add coverage threshold
  jest.config.js
Due: prettier --write, yarn lint

fix: :mute: remove log
  index.js
Due: prettier --write, yarn lint

ci: :green_heart: fix github coveralls branch
  .github/workflows/release.yml
Due: none

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b9a5bcf0ccfacf08a8dcdd2bad91a3f756c5b978
Due: none

fix: :memo: update install documentation
  README.md
Due: prettier --write

chore(release): 1.1.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  56c544497ab0da5123dd8236bf5b0b2de05666e2
Due: none

fix: :see_no_evil: improve NPM ignore
  .npmignore
Due: none

chore(release): 1.1.2 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  03c5c026b8b699076e5dd33464c06f48789180ee
Due: none

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.{json,md})
  yarn lint: any of: *.js
